body { width:700px;
 margin:0 auto;
 padding:0;
line-height:1.4; font-family:Georgia, "Times New Roman", Times, serif;
 }
 h1 {
font-size:300%;
 font-style:Helvetica, Arial, sans-serif; 
 color:#424242;
 text-shadow:2px 2px 0 #B8B462;
 margin:0;
} 
h3{
	
	font-family:Helvetica, Arial, sans-serif; 
	 display:block;
    margin-top:20px;
    letter-spacing:2px;
}

input:focus, textarea:focus { background-color:#FFF9B5; }


button{
	width:463px;
	
	
}
#result{
	color:red;
}

 
 label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}
input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

